@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Chaochom;
    src: url(/fonts/MN-Chaochom-Bold.ttf);
  }
  body {
    font-family: "Chaochom";
  }
}
